@page
@model NebulaTextbook.Pages.IndexModel

@{
    ViewData["Title"] = "WIP Components";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary-dark">WIP Components</h1>

    <!-- Navigation Links, can be changed for any pages we need or adapted to file structure -->
    <div class="list-group mt-4">
        <a href="/chapter" class="list-group-item list-group-item-action">Chapter Example</a>
        <a href="/SortingQuiz" class="list-group-item list-group-item-action">Quiz Example</a>
        <a href="/ide" class="list-group-item list-group-item-action">IDE Example</a>
        <a href="/gradebook" class="list-group-item list-group-item-action">Gradebook Example [PH]</a>
        <a href="/profile" class="list-group-item list-group-item-action">Profile Example [PH]</a>
        <a href="/embed" class="list-group-item list-group-item-action">Embeded Videos</a>
    </div>
</div>
